
body{
    margin: 0;
    padding: 0;
    background: blanchedalmond;
}
p{
    font-family: cursive;
    color: dodgerblue;
}
h1{
    text-align: center;
    font-family: "DejaVu Sans Mono";
    color: #012d3a;
}
h2{
    font-family: "DejaVu Sans Mono";
    color: #043e4f;
}
h3{
    font-family: cursive;
    color: #012d3a;
}

.note-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-label{
    color: #012d3a;
    font-family: cursive;
}
.form-input{
    border-radius: 5px;
    width: 200px;
    height: 25px;
    margin-bottom: 15px;
}
#task{
    margin-bottom: 15px;
}
.Notes{
    display: flex;
    justify-content: space-around
}
.all-cards{
    display: flex;
    justify-content: space-around
}
.note{
    margin: 0 50px 30px;
}
.btn{
    border-radius: 10px;
    width: 200px;
    height: 35px;
    margin-bottom: 15px;
    border: none;
    background: #82c0ff;
    color: black;
    font-family: "Droid Sans Mono";
}