body{
    margin: 0;
    padding: 0;
    background: lemonchiffon;
}
.notes{
    display: flex;
    justify-content: space-around;
}
.all-cards{
    display: flex;
    justify-content: space-around;
}
.note{
    margin: 0 50px 30px;
}
.note-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label-form{
    color: darkslateblue;
    font-family: Carlito;
}
.input-form{
    width: 200px;
    hight: 25px;
    margin-bottom: 15px;
}
h2{
    font-family: "DejaVu Sans Mono";
}